<h1>{{ title }}</h1>

<div *ngIf="account">
  <table class="table table-borderless table-sm">
    <tbody>
      <tr>
        <td style="width: 25%">Naam</td>
        <td>{{ account.name.firstname }} {{ account.name.lastname }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ account.email }}</td>
      </tr>
      <tr>
        <td>Roles</td>
        <td>
          <span *ngFor="let role of account?.roles">
            {{ role | asRole }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Loggedin</td>
        <!-- <td>{{user?.meta?.updatedAt | date :'fullDate'}}</td> -->
        <td>
          <!-- {{user?.updatedAt | date:"dd-MM-yyyy hh:mmu"}} -->
          To Do
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!account">
  <p>Your user information was not found.</p>
  <p>Connect your component to the UserService and get your profile data from the server!.</p>
</div>