.greyText {
    color: rgb(192, 191, 191);
}

.blackText {
    color: black;
}

.card {
    background: lightgray;
}

/* Thick red border */
.hr1 {
    border: 1px solid darkslategrey;
}

.header {
    color: white;
}

.buttonGroup1 {
    float: right;
}

.btn {
    margin-left: 5px;
}