<div *ngIf="movie" class="greyText">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src={{movie.poster}} />
      </div>
      <div class="col-8">
        <h1>{{movie.title | uppercase}}</h1>
        <hr class="hr1">
        <h4 class="header">Storyline</h4>
        <p>{{movie.plot}}</p>
      </div>
    </div>
  </div>
  <hr class="hr1">
  <h1>Info</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <b class="header">Release Year: </b>{{movie._yearData}}<br>
        <b class="header">Release Date: </b>{{movie.released}}<br>
        <b class="header">Genres: </b>{{movie.genres}}<br>
        <b class="header">Rated: </b>{{movie.rated}}<br>
        <b class="header">Runtime: </b>{{movie.runtime}}<br>
        <b class="header">Languages: </b>{{movie.languages}}<br>
      </div>
      <div class="col-6">
        <b class="header">Director(s): </b> {{movie.director}}<br>
        <b class="header">Writer(s): </b> {{movie.writer}}<br>
        <b class="header">Actor(s): </b> {{movie.actors}}<br>
      </div>
    </div>
  </div>
  <hr class="hr1">
    <!-- Card group met Rating + metascore + Votes -->
    <h1>Rating/Scores</h1>
    <div class="card-group blackText">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rating</h5>
          <h2 class="card-text">{{movie.rating}}</h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Metascore</h5>
          <h2 class="card-text">{{movie.metascore}}</h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Votes</h5>
          <h2 class="card-text">{{movie.votes}}</h2>
        </div>
      </div>   
    </div> <!-- End of card-group -->   
    <div *ngIf(movie.ratings.length > 0)>
      <hr class="hr1">
      <h1>Reviews</h1>
      <!-- Card group met Ratings (review/feedback) -->
      <div class="card-group blackText">
        <div class="card" *ngFor="let rating of movie.ratings">
          <div class="card-body">
            <h5 class="card-title">{{rating.source}}</h5>
            <h6 class="card-text">{{rating.value}}</h6>
          </div>
        </div>
      </div> <!-- End of card-group -->
    </div>  
    <hr class="hr1">
    <div class="container"> <!-- start of awards container -->
      <div class="row">
        <div class="col-6">
          <b class="header">Awards: </b>{{movie.awards}}<br>
          <b class="header">Production: </b>{{movie.production}}<br>
          <b class="header">Name: </b>{{movie.name}}<br>
        </div>
        <div class="col-6">
          <b class="header">Boxoffice: </b> {{movie.boxoffice}}<br>
          <div *ngIf({{movie.website}} != "N/A")>
            <b class="header">Official Website: </b><a href={{movie.website}}>{{movie.website}}</a><br>
          </div>
          <b class="header">Type: </b> {{movie.type}}<br>
          <b class="header">IMDB ID: </b>{{movie.id}}<br>
        </div>
      </div>
    </div><!-- end of awards container -->
  <hr class="hr1">
  <div class="buttonGroup1">
    <button type="button" class="btn btn-danger" (click)="goBack()">go back</button>
    <button type="button" class="btn btn-warning"><a class="blackText" href={{movie.imdburl}}>IMDB Page</a></button>
    <button type="button" class="btn btn-success" (click)="save()">save</button>
  </div>  
</div>