<div class="movie_card" id="bright" *ngFor="let movie of movies">
    <a routerLink="detail/{{movie.id}}">
        <div class="info_section">
            <div class="movie_header">
                <img class="locandina" src={{movie.poster}}/>
                <h1 class="movieTitle">{{movie.title}}</h1>
                <h4>{{movie._yearData}}, Rated: {{movie.rated}}</h4>
                <span class="minutes">{{movie.runtime}}</span>
                <p class="type">{{movie.genres}}</p>
            </div>
            <div class="movie_desc">
                <p class="text">
                {{movie.plot | truncate: 290}}
                </p>
            </div>
            <div class="movie_social">
                <ul>
                    <li><i class="material-icons">Metascore: {{movie.metascore}}</i></li>
                    <li><i class="material-icons">Metascore: {{movie.rating}}</i></li>
                    <li><i class="material-icons">Metascore: {{movie.votes}}</i></li>
                </ul>
            </div>
        </div>
        <div class="blur_back" style="background-image: url({{movie.poster}})"></div>
    </a>
</div>
