.profile-pic {
  width: 120px;
  margin: 20px;
}

.card-body {
  padding-top: 0;
}

.entiteitTable td {
  padding-right: 50px;
}

p, h1, h2, h3, h4, h5, h6, tr, td, li {
  color: white;
}

.useCaseRow {
  color: white;
}
