<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>World of Warcraft Group Finder</h3>
    <p>
      Met dit project wil ik een group finder maken voor World of Warcraft. Je kan groepen maken voor dungeons, raids en pvp.
      De groepen die je kan maken voor een specifieke PVE of PVP content bied je de mogelijkheden om de mensen te zoeken die
      aan jou eisen en wensen vooldoen.
    </p>
    <p>
      Zo kan je op een groep de volgende eisen zetten voordat iemand de groep ziet en ze zich ervoor kunnen aanmelden.
    </p>
    <ul>
      <li>minimaal item level</li>
      <li>Faction(Horde/Alliance</li>
      <li>Dungeon/Raid/PVP</li>
      <li>Welke character jij wil gebruiken</li>
      <li>Role(Tank/Healer/Dps)</li>
      <li>Role verdeling</li>
    </ul>

    <h3>Account</h3>
    <p>
      Op je account kun je meerdere characters laden waarmee je groepen kunt zoeken. je kunt characters toevoegen of verwijderen uit je
      lijst. Daarnaast is het ook mogelijk om mensen toe te voegen aan je vrienden lijst, zo kun je snel zien op je vrienden als in een groep zitten.
    </p>

    <h3>Character</h3>
    <p>
      Wanneer je een account hebt gemaakt kan je je eigen character inladen op je account,het is mogelijk om meerdere
      characters op je account te zetten. Je profiel word dan gevuld met de stats van je character zoals level, item level, huidige gear
      en je progressie door PVE(Player versus Enviroment) en PVP Rating.
    </p>

    <h3>Groups</h3>
    <p>
      Je kunt naar groepen zoeken op basis van Faction, minimale item level en type content. Daarnaast kun je
      je eigen groepen maken, de mensen die interesse hebben om in te groep te komen kun je inspecteren. Het is mogelijk
      om mensen te accepteren of te weigeren die interesse hebben getoond om in te groep te komen.
    </p>

    <h3>NoSQL</h3>
    <p>
      Voor de database keuze heb ik gekozen om voor mongoDB. Deze keuze is grotendeels gebaseerd op mijn
      huidige kennis niveau met de database. Het document model past goed bij mijn gemaakte entiteiten. Bij
      mongoDB is het makkelijk om een online DB te hosten zodat de gehele app in de cloud kan functioneren.
    </p>

  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/wtf.gif"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Stefan Ilmer</h5>
        <p class="card-text">
          Studentnummer: 2075582
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h4>Account</h4>
    <table class="entiteitTable">
        <th>
          Naam
        </th>
        <th>
          Type
        </th>
        <tr>
          <td>Username</td>
          <td>String</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>String</td>
        </tr>
        <tr>
          <td>Password</td>
          <td>String</td>
        </tr>
        <tr>
          <td>CharacterList</td>
          <td>[Character]</td>
        </tr>
        <tr>
          <td>Favorite</td>
          <td>Character</td>
        </tr>
      </table>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>Character</h4>
    <table class="entiteitTable">
      <th>
        Naam
      </th>
      <th>
        Type
      </th>
      <tr>
        <td>Name</td>
        <td>String</td>
      </tr>
      <tr>
        <td>Level</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>AvarageItemLevel</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>Equipment</td>
        <td>[Gear]</td>
      </tr>
      <tr>
        <td>PveProgression</td>
        <td>[PveContent]</td>
      </tr>
      <tr>
        <td>PvpProgression</td>
        <td>[PvpContent]</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12 col-md-4">
    <h4>Gear</h4>
    <table class="entiteitTable">
      <th>
        Naam
      </th>
      <th>
        Type
      </th>
      <tr>
        <td>Name</td>
        <td>String</td>
      </tr>
      <tr>
        <td>LevelRequirement</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>ItemLevel</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>Armour</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>PrimaryAttributes</td>
        <td>[MainAttribute]</td>
      </tr>
      <tr>
        <td>SecondaryAttributes</td>
        <td>[SecondaryAttribute]</td>
      </tr>
    </table>
  </div>
</div>
<br>
<!-- Entiteten Rij 2 -->
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h4>Group</h4>
    <table class="entiteitTable">
      <th>
        Naam
      </th>
      <th>
        Type
      </th>
      <tr>
        <td>Title</td>
        <td>String</td>
      </tr>
      <tr>
        <td>Faction</td>
        <td>String</td>
      </tr>
      <tr>
        <td>LevelRequirement</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>ItemLevelRequirement</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>GroupSize</td>
        <td>Number</td>
      </tr>
      <tr>
        <td>PartyMembers</td>
        <td>[Character]</td>
      </tr>
      <tr>
        <td>TypeOfContent</td>
        <td>[ContentType]</td>
      </tr>
    </table>
  </div>
</div>

<div class="row useCaseRow">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
