<div class="row">
  <div class="col-8">
    <h2>{{ title }}</h2>
  </div>
  <div class="col">
    <button type="button" class="btn btn-primary float-right" routerLink="new">New Account</button>
  </div>
</div>

<div *ngIf="accounts" class="row">
  <table class="table table-hover">
    <thead>
      <th>Idex</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts; let i = index" app-account-item [selectedAccount]="account" [index]="i" id="i">
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!accounts">
  <p>No accounts found. Loading...</p>
</div>
<!-- <pre>
{{ accounts | json }}
</pre> -->