<div class="sticky-component">
  <div class="row">
    <div class="col-8">
      <h2>{{ title }}</h2>
    </div>
    <div class="col">
      <button *ngIf="account" type="button" class="btn btn-outline-warning float-right" routerLink="edit">
        Edit
      </button>
    </div>
  </div>

  <div *ngIf="account">
    <div class="media">
      <img class="mr-3 circle" src="{{ account.picture.medium }}" alt="Generic placeholder image" />
      <div class="media-body">
        <h5 class="mt-0">{{ account.name.firstname | titlecase }} {{ account.name.lastname | titlecase }}</h5>
        <p>{{ account.email }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!account">
    <p>Select a account first.</p>
  </div>
</div>