<section class="jumbotron-dark jumbotron-fluid text-center">
  <div class="container">
    <h1>Album example</h1>
    <p class="lead">
      Something short and leading about the collection below—its contents, the
      creator, etc. Make it short and sweet, but not too short so folks don’t
      simply skip over it entirely.
    </p>
    <p>
      <button href="#" class="btn btn-primary">Primary</button>
      <button href="#" class="btn btn-success">Success</button>
    </p>
  </div>
</section>
