<!--
view-source: https://getbootstrap.com/docs/4.5/examples/product/
 -->
<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2017-2020 Copyright by Stefan Ilmer</small>
    </div>
  </div>
</footer>
