<td>{{ index + 1 }}</td>
<td>
  <img src="{{selectedAccount.picture.thumbnail}}" alt="" class="circle">
  <a href="#" [routerLink]="[index]">
    {{selectedAccount.name.title}} {{ selectedAccount.name.first | titlecase }} {{selectedAccount.name.last | titlecase}}
  </a>
</td>
<td>{{ selectedAccount.email }}</td>