<section class="jumbotron-dark jumbotron-fluid text-center">
  <div class="container">
    <h1>404 - Not Found</h1>
    <h3 class="lead">
      Het lijkt erop dat wat je zoekt niet gevonden is.
    </h3>
    <p>
      <button type="button" class="btn btn-success" (click)="goBack()">Go Back</button>
    </p>
  </div>
</section>
